body{
    width: 100%;
    height: 100%;
    margin: 0;
}


header {
    background-color:#DEDBD2; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
}